In [1]:
#Data Frames

In [2]:
import pandas as pd
import numpy as np

In [3]:
a=np.array([1,2,3,4,5])
b=np.array([6,7,8,9,10])
c=np.array([11,12,13,14,15])

In [4]:
d=pd.DataFrame([a,b,c],columns=['a','b','c','d','e'])

In [5]:
print(d)

    a   b   c   d   e
0   1   2   3   4   5
1   6   7   8   9  10
2  11  12  13  14  15

In [6]:
#DataFrame from numpy --> array
d=np.array(['a','b','c','d','e'])
e=np.array(['f','g','h','i','j'])
f=np.array(['k','l','m','n','o'])

In [7]:
g=pd.DataFrame([d,e,f])

In [8]:
print(g)

   0  1  2  3  4
0  a  b  c  d  e
1  f  g  h  i  j
2  k  l  m  n  o

In [9]:
#Direct DataFrame
h=pd.DataFrame([
                [1,2,3,4,5],
                ['a','b','c','d','e'],
                ['!','@','$','%','#'],
                ['1a','2b','3c','4c','5e']
])

In [10]:
print(h)

    0   1   2   3   4
0   1   2   3   4   5
1   a   b   c   d   e
2   !   @   $   %   #
3  1a  2b  3c  4c  5e

In [11]:
#Dataframes from list of dictonaries
i=pd.DataFrame([
                {'a':10,'b':20},
                {'a':30,'b':40},
                {'a':50,'b':60},
                {'a':70,'b':80},
                {'a':90,'b':100}
])

In [12]:
print(i)

    a    b
0  10   20
1  30   40
2  50   60
3  70   80
4  90  100

In [13]:
j1=pd.Series([1,2,3,4,5])
j2=pd.Series(['1a','2b','3c','4d','5e'])
j3=pd.Series(['!','@','#','$','%'])

In [14]:
k=pd.DataFrame([j1,j2,j3])

In [15]:
print(k)

    0   1   2   3   4
0   1   2   3   4   5
1  1a  2b  3c  4d  5e
2   !   @   #   $   %

In [16]:
l={
    'Purvesh':pd.Series([99,98,97,96],index=['Phy','Chem','Maths','Bio']),
    'Spandan':pd.Series([98,97,96,95],index=['Phy','Chem','Maths','Bio']),
    'Vinit':pd.Series([97,96,95,94],index=['Phy','Chem','Maths','Bio']),
    'Ved':pd.Series([96,95,94,93],index=['Phy','Chem','Maths','Bio'])
}

In [17]:
print(l)

{'Purvesh': Phy      99
Chem     98
Maths    97
Bio      96
dtype: int64, 'Spandan': Phy      98
Chem     97
Maths    96
Bio      95
dtype: int64, 'Vinit': Phy      97
Chem     96
Maths    95
Bio      94
dtype: int64, 'Ved': Phy      96
Chem     95
Maths    94
Bio      93
dtype: int64}

In [18]:
m=pd.DataFrame(l)

In [19]:
print(m)

       Purvesh  Spandan  Vinit  Ved
Phy         99       98     97   96
Chem        98       97     96   95
Maths       97       96     95   94
Bio         96       95     94   93

In [20]:
#Adding a new column
m['Prayag']=[91,92,93,94]

In [21]:
print(m)

       Purvesh  Spandan  Vinit  Ved  Prayag
Phy         99       98     97   96      91
Chem        98       97     96   95      92
Maths       97       96     95   94      93
Bio         96       95     94   93      94

In [22]:
m['Purvesh']=[99,98,9,96]

In [23]:
print(m)

       Purvesh  Spandan  Vinit  Ved  Prayag
Phy         99       98     97   96      91
Chem        98       97     96   95      92
Maths        9       96     95   94      93
Bio         96       95     94   93      94

In [24]:
m.loc['IP']=[1,2,3,4,5]

In [25]:
print(m)

       Purvesh  Spandan  Vinit  Ved  Prayag
Phy         99       98     97   96      91
Chem        98       97     96   95      92
Maths        9       96     95   94      93
Bio         96       95     94   93      94
IP           1        2      3    4       5

In [26]:
m.loc['Chem']=[98/2,97/2,96/2,95/2,92/2]

In [27]:
print(m)

       Purvesh  Spandan  Vinit   Ved  Prayag
Phy         99     98.0     97  96.0      91
Chem        49     48.5     48  47.5      46
Maths        9     96.0     95  94.0      93
Bio         96     95.0     94  93.0      94
IP           1      2.0      3   4.0       5

In [28]:
m.loc['IP']=0

In [29]:
print(m)

       Purvesh  Spandan  Vinit   Ved  Prayag
Phy         99     98.0     97  96.0      91
Chem        49     48.5     48  47.5      46
Maths        9     96.0     95  94.0      93
Bio         96     95.0     94  93.0      94
IP           0      0.0      0   0.0       0

In [30]:
# m.loc[:]=69

In [31]:
print(m)

       Purvesh  Spandan  Vinit   Ved  Prayag
Phy         99     98.0     97  96.0      91
Chem        49     48.5     48  47.5      46
Maths        9     96.0     95  94.0      93
Bio         96     95.0     94  93.0      94
IP           0      0.0      0   0.0       0

In [32]:
m.loc[:]

       Purvesh  Spandan  Vinit   Ved  Prayag
Phy         99     98.0     97  96.0      91
Chem        49     48.5     48  47.5      46
Maths        9     96.0     95  94.0      93
Bio         96     95.0     94  93.0      94
IP           0      0.0      0   0.0       0

In [33]:
#Deleting a column or row from Dataframe.
n=m.drop(['IP'],axis=0)

In [34]:
print(n)

       Purvesh  Spandan  Vinit   Ved  Prayag
Phy         99     98.0     97  96.0      91
Chem        49     48.5     48  47.5      46
Maths        9     96.0     95  94.0      93
Bio         96     95.0     94  93.0      94

In [35]:
n=m.drop(['Ved'],axis=1)

In [36]:
print(n)

       Purvesh  Spandan  Vinit  Prayag
Phy         99     98.0     97      91
Chem        49     48.5     48      46
Maths        9     96.0     95      93
Bio         96     95.0     94      94
IP           0      0.0      0       0

In [37]:
n=m.drop(['Vinit'],axis=1)
print(n)

       Purvesh  Spandan   Ved  Prayag
Phy         99     98.0  96.0      91
Chem        49     48.5  47.5      46
Maths        9     96.0  94.0      93
Bio         96     95.0  93.0      94
IP           0      0.0   0.0       0

In [38]:
n=m.drop(['Spandan','Purvesh'],axis=1)
print(n)

       Vinit   Ved  Prayag
Phy       97  96.0      91
Chem      48  47.5      46
Maths     95  94.0      93
Bio       94  93.0      94
IP         0   0.0       0

In [39]:
#renaming a row and a column.

In [40]:
n=m.rename({'Chem':'Music','IP':'Games'},axis=0)
print(n)

       Purvesh  Spandan  Vinit   Ved  Prayag
Phy         99     98.0     97  96.0      91
Music       49     48.5     48  47.5      46
Maths        9     96.0     95  94.0      93
Bio         96     95.0     94  93.0      94
Games        0      0.0      0   0.0       0

In [41]:
# in axis can write --> 0 or 'index' (Both means the same)
n=m.rename({'Bio':'Geo'},axis='index')
print(n)

       Purvesh  Spandan  Vinit   Ved  Prayag
Phy         99     98.0     97  96.0      91
Chem        49     48.5     48  47.5      46
Maths        9     96.0     95  94.0      93
Geo         96     95.0     94  93.0      94
IP           0      0.0      0   0.0       0

In [42]:
n=m.rename({'Vinit':'Paulbaba','Ved':'dev'},axis=1)
print(n)

       Purvesh  Spandan  Paulbaba   dev  Prayag
Phy         99     98.0        97  96.0      91
Chem        49     48.5        48  47.5      46
Maths        9     96.0        95  94.0      93
Bio         96     95.0        94  93.0      94
IP           0      0.0         0   0.0       0

In [43]:
# in axis can write --> 0 or 'index' (Both means the same)
n=m.rename({'dev':'Ved'},axis='columns')
print(n)

       Purvesh  Spandan  Vinit   Ved  Prayag
Phy         99     98.0     97  96.0      91
Chem        49     48.5     48  47.5      46
Maths        9     96.0     95  94.0      93
Bio         96     95.0     94  93.0      94
IP           0      0.0      0   0.0       0

In [44]:
#Accessing info from a DataFrame

In [45]:
m.loc['Chem']

Purvesh    49.0
Spandan    48.5
Vinit      48.0
Ved        47.5
Prayag     46.0
Name: Chem, dtype: float64

In [46]:
m.loc[['Chem','Bio']]

      Purvesh  Spandan  Vinit   Ved  Prayag
Chem       49     48.5     48  47.5      46
Bio        96     95.0     94  93.0      94

In [47]:
m.loc[:]

       Purvesh  Spandan  Vinit   Ved  Prayag
Phy         99     98.0     97  96.0      91
Chem        49     48.5     48  47.5      46
Maths        9     96.0     95  94.0      93
Bio         96     95.0     94  93.0      94
IP           0      0.0      0   0.0       0

In [48]:
#Fail
m['Vinit']>50

Phy       True
Chem     False
Maths     True
Bio       True
IP       False
Name: Vinit, dtype: bool

In [49]:
m.loc['Phy'] < 50

Purvesh    False
Spandan    False
Vinit      False
Ved        False
Prayag     False
Name: Phy, dtype: bool

In [50]:
m.loc['Chem':'Maths','Purvesh':'Spandan']

       Purvesh  Spandan
Chem        49     48.5
Maths        9     96.0

In [51]:
m.loc[['Chem','Maths'],['Purvesh','Spandan']]

       Purvesh  Spandan
Chem        49     48.5
Maths        9     96.0

In [52]:
m.loc[[False,False,True,False,True]]

       Purvesh  Spandan  Vinit   Ved  Prayag
Maths        9     96.0     95  94.0      93
IP           0      0.0      0   0.0       0

In [53]:
m.loc[:]

       Purvesh  Spandan  Vinit   Ved  Prayag
Phy         99     98.0     97  96.0      91
Chem        49     48.5     48  47.5      46
Maths        9     96.0     95  94.0      93
Bio         96     95.0     94  93.0      94
IP           0      0.0      0   0.0       0

In [54]:
n1=pd.DataFrame([ [10,20,30],[40,50] ],columns=['C1','C2','C3'])
n2=pd.DataFrame([ [60,70,100],[80] ],columns=['C4','C5','C1'])

In [55]:
print(n1)

   C1  C2    C3
0  10  20  30.0
1  40  50   NaN

In [56]:
print(n2)

   C4    C5     C1
0  60  70.0  100.0
1  80   NaN    NaN

In [57]:
n3= n1.append(n2)

C:\Users\user\AppData\Local\Temp\ipykernel_28096\2340560156.py:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  n3= n1.append(n2)

In [58]:
print(n3)

      C1    C2    C3    C4    C5
0   10.0  20.0  30.0   NaN   NaN
1   40.0  50.0   NaN   NaN   NaN
0  100.0   NaN   NaN  60.0  70.0
1    NaN   NaN   NaN  80.0   NaN

In [59]:
#Sorting a DataFrame ------------------------?

In [60]:
n3= n1.append(n2,sort='False')

C:\Users\user\AppData\Local\Temp\ipykernel_28096\1095090459.py:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  n3= n1.append(n2,sort='False')
C:\Users\user\AppData\Local\Temp\ipykernel_28096\1095090459.py:1: FutureWarning: Passing non boolean values for sort is deprecated and will error in a future version!
  n3= n1.append(n2,sort='False')

In [61]:
print(n3)

      C1    C2    C3    C4    C5
0   10.0  20.0  30.0   NaN   NaN
1   40.0  50.0   NaN   NaN   NaN
0  100.0   NaN   NaN  60.0  70.0
1    NaN   NaN   NaN  80.0   NaN

In [62]:
#Attitudes of a DataFrame

In [63]:
o={
    'Purvesh':pd.Series([99,98,97,96],index=['Phy','Chem','Maths','Bio']),
    'Spandan':pd.Series([98.22,97,96,95],index=['Phy','Chem','Maths','Bio']),
    'Vinit':pd.Series([97,96,95,94],index=['Phy','Chem','Maths','Bio']),
    'Ved':pd.Series([96,95,94,93],index=['Phy','Chem','Maths','Bio'])
}

In [64]:
p=pd.DataFrame(o)

In [65]:
print(p)

       Purvesh  Spandan  Vinit  Ved
Phy         99    98.22     97   96
Chem        98    97.00     96   95
Maths       97    96.00     95   94
Bio         96    95.00     94   93

In [66]:
print(p.index)

Index(['Phy', 'Chem', 'Maths', 'Bio'], dtype='object')

In [67]:
print(p.columns)

Index(['Purvesh', 'Spandan', 'Vinit', 'Ved'], dtype='object')

In [68]:
print(p.columns[[0,2,3]])

Index(['Purvesh', 'Vinit', 'Ved'], dtype='object')

In [69]:
print(p.index[[0,1,3]])

Index(['Phy', 'Chem', 'Bio'], dtype='object')

In [70]:
print(p.dtypes)

Purvesh      int64
Spandan    float64
Vinit        int64
Ved          int64
dtype: object

In [71]:
#Shape

In [72]:
print(p.shape)

(4, 4)

In [74]:
print(p.size)

16

In [76]:
print(p.values)

[[99.   98.22 97.   96.  ]
 [98.   97.   96.   95.  ]
 [97.   96.   95.   94.  ]
 [96.   95.   94.   93.  ]]

In [78]:
print(p.T)

           Phy  Chem  Maths   Bio
Purvesh  99.00  98.0   97.0  96.0
Spandan  98.22  97.0   96.0  95.0
Vinit    97.00  96.0   95.0  94.0
Ved      96.00  95.0   94.0  93.0