In [2]:
a = input("Enter your name: ")
b = int(input("Enter your age: "))
c = 100 - b
year = 2021 + c

# Ved is currently {age} years old and he will turn hundred in {year}.
print(a, "is currently", b, "years old and he will turn hundred in", c, "years, in", year)

Enter your name: Ved
Enter your age: 19
Ved is currently 19 years old and he will turn hundred in 81 years, in 2102

In [7]:
# Difference between else and elif

if (condition):
    print("if block")
elif (condition2):
    print("elif block")
else:
    print("else block")

In [6]:
for i in range(20, 30, 2):
    print(i)

20
22
24
26
28

In [9]:
for i in range(5, 51, 5):
    print(i)

5
10
15
20
25
30
35
40
45
50

In [10]:
country = "INDIA"
for i in country:
    print(i)

I
N
D
I
A

In [13]:
DEVICE = "COMPUTER"
for c in DEVICE:
    print(c)

C
O
M
P
U
T
E
R

In [17]:
i = 0; sum = 0
while i < 9:
    if i % 4 == 0:
        sum = sum + i
    i = i + 2
print(sum)
print(i)

12
10

In [18]:
school_name = str(input("Name of school: "))
student_name = str(input("Student Name: "))
roll_number = int(input("Roll no.: "))

standard = str(input("Class: "))
section = str(input("Section: "))
address = str(input("Adress Line 1: "))
address2 = str((input("Address Line 2: ")))

city = str(input("City: "))
pincode = int(input("Pin Code:"))

parent_number = int(input("Contact number: "))

Name of school: Woodridge High
Student Name: Ved Panse
Roll no.: 9
Class: XI
Section: D
Adress Line 1: Kranti Chowk
Address Line 2: Aurangabad
City: Aurangabad
Pin Code:431001
Contact number: 8554854411

In [19]:
a = str(input("Name of school: "))
b = str(input("Student Name: "))
c = int(input("Roll no.: "))

d = str(input("Class: "))
e = str(input("Section: "))
f = str(input("Adress Line 1: "))
g = str((input("Address Line 2: ")))

h = str(input("City: "))
i = int(input("Pin Code:"))

j = int(input("Contact number: "))

print("My school's name is", a, ". I am", b, "Roll no =", c, "class:", d, "section:", e, "address:", f, "address2: ", g, "city:", h, "pincode:", i, "contact no:", j)

Name of school: Woodridge
Student Name: Ved Panse
Roll no.: 1
Class: XI
Section: D
Adress Line 1: Bhagyanagar
Address Line 2: Kranti Chowk
City: Aurangabad
Pin Code:431001
Contact number: 8554854411
My school's name is Woodridge . I am Ved Panse Roll no = 1 class: XI section: D address: Bhagyanagar address2:  Kranti Chowk city: Aurangabad pincode: 431001 contact no: 8554854411