In [2]:
# Prints statement to the console
print("Hello, World")

Hello, World

In [6]:
# Variables

age = 17
# integer


salary = 0.00
# float (decimals are included)

# String: words, phrase, used literally
password = "1spandan2"

In [9]:
print("password")
print(password)

password

# Type

In [10]:
print(type(salary))

<class 'float'>

In [11]:
print(type(age))

<class 'int'>

In [12]:
print(type(password))

<class 'str'>

In [15]:
print(type("age"))

<class 'str'>

# Len (Length)

In [18]:
# Prints number of characters

# Valid only for lists, strings
print(len(password))

9

In [20]:
print(len("Ved Panse."))

10

# Lists

In [22]:
# Used to store multiple elements

fruits = [1, "String", 1.5]

In [23]:
print(fruits)

[1, 'String', 1.5]

In [2]:
# Position starts from 0

grocery_list = ["Milk", "Eggs", "Mangoes", "Spandan"]
print(grocery_list[3])

Spandan

## Adding elements to a list

In [29]:
# Use append function
# Append means 'add'

# To add "Yonit" to grocery_list, use

grocery_list.append("Yonit")

In [30]:
print(grocery_list)

['Milk', 'Eggs', 'Mangoes', 'Spandan', 'Yonit']

## Removing elements from a list

In [31]:
# Use pop or remove function

#Pop method requires us to know index (position)

# Remove Spandan from grocery_list; we know that index of Spandan is 3
grocery_list.pop(3)

'Spandan'

In [32]:
print(grocery_list)

['Milk', 'Eggs', 'Mangoes', 'Yonit']

In [33]:
# Remove function
# We may or may not know the exact index of the item in list.

# Remove milk from list,
grocery_list.remove("Milk")

In [34]:
print(grocery_list)

['Eggs', 'Mangoes', 'Yonit']

# Using operators

Operators are of 5 types:-
1. Arithmatic operators (addition, subtraction, multiplication etc.)
2. Relational operators (check if one thing equals other etc.)
3. Assignment operators (assigns new value to a variable)
4. Logical operators (and, or)
5. Membership operators

## Arithmatic operators

In [35]:
# Addition
number_1 = 5
number_2 = 10

print(number_1 + number_2)

15

In [36]:
# Subtraction
print(number_1 - number_2)

-5

In [37]:
# Multiplication
print(number_1 * number_2)

50

In [38]:
# Division
print(number_1/number_2)

0.5

In [40]:
# Floor division.
# It gives the quotient of the operation.
# It can also be called as greater integer function.
print(number_1//number_2)

0

In [41]:
# modulus
# It gives the remainer of the operation.
print(number_1 % number_2)

5

## Relational Operators

In [5]:
# If one value is equal or not to other value
# Prints true or false values.

print(1 != 2)

True

In [7]:
print(3 == 3)

True

In [8]:
print(5 > 3)

True

In [9]:
print(100 < 99)

False

## If, Elif, Else

In [11]:
# If, else

password = "VedPanse"

if password == "1spandan2":
    print("Correct password")
else:
    print("Wrong password")

Wrong password

In [13]:
# If, elif, else

password = "Yonit"

if password == "1spandan2":
    print("Correct password")
elif password == 'Yonit':
    print("Paul baba Jai ram jai ram")
else:
    print("Wrong password")

Paul baba Jai ram jai ram

In [14]:
# Real-life application
# 91-100% = A+
# 85-90% = A
# 81-85% = B

percentage = 98

if percentage > 100:
    print("Nakli percentage.")
elif percentage > 91 and percentage < 100:
    print("A+")
elif percentage > 85 and percentage < 90:
    print("A")
else:
    print("B")

A+

## Logical operators

In [15]:
# And, or
# And: both conditions should be true
# Or: Any one condition must be true

print(1 == 2 or 3 == 3)

True

In [17]:
print(1 != 2 and 3 == 3)

True

## Assignment operators

In [19]:
# =, +=, -=, /=

num = 1

num = num + 1

print(num)

2

In [20]:
# The same problem is simplified by writing
num += 1 # also written as num = num + 1

In [22]:
# For subtraction,
num -= 1 # means num = num - 1

In [23]:
# For multiplication,
num *= 2 # means num = num * 2

In [25]:
# For division,
num /= 2 # means num = num / 2

# Real life example of list

In [28]:
amongUS_in_room = ["Chandan", "Yonit", "Waves", "Purit", "Pansy"]

voted = "Chandan"

# Print the voted name was ejected.
print(voted + " was ejected.")

# Remove the voted from the group
amongUS_in_room.remove(voted)

# Print how many players remain.
print(str(len(amongUS_in_room)) + " remain.")

Chandan was ejected.
4 remain.

In [29]:
# str converts integers and floats to string
print(type(str(1)))

<class 'str'>